.contenedorDiv {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 3% 0% 0% 2%;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    min-height: 100vh;
    border-right: 3px solid black;
}
.divSeccion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.botonSeccion {
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 0.9rem;
    padding: 3% 5% 3% 5%;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 90%;
    margin-top: 10%;
    transition: 0.2s;
    color: white;
    background-color: black;
    border: 2px solid black;
    transition: 0.3s;
}
.botonNoSeccion {
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 0.9rem;
    padding: 3% 5% 3% 5%;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 90%;
    margin-top: 10%;
    transition: 0.2s;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    transition: 0.3s;
}
.botonNoSeccion:hover{
    background-color: black;
    color: white;
}
.botonNoSeccion:disabled {
    background-color: gray;
    color: white;
    border: 2px solid #070825;
    cursor: not-allowed;
}
.desplegable {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-decoration: none;
}
.botonSecundario {
    display: flex;
    border: none;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 0% 0% 0% 5%;
    cursor: pointer;
    position: relative;
    width: 85%;
    transition: 0.2s;
    color: black;
    background-color: transparent;
    transition: 0.3s;
    text-decoration: underline white;
}
.botonSecundario:hover{
    background-color: #06072b;
    color: white;
    text-decoration: underline #06072b;
}
.botonSecundarioSelect {
    display: flex;
    border: none;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 0% 0% 0% 5%;
    cursor: pointer;
    position: relative;
    width: 85%;
    transition: 0.2s;
    color: white;
    background-color: #06072b;
    transition: 0.3s;
    text-decoration: #06072b underline;
}